**/*.svg
package.json
.umi
.umi-production
/dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
.npmignore
.browserlistrc
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
.prettierrc
public
lib
es
build
docs
doc
README.md
CHANGELOG.md
src-old
